extends layouts/main-layout.pug

block title 
    title Login

block content
    div(class='max-w-6xl flex justify-center m-auto')
        div(class='flex gap-16 ')
            img(src="https://images.pexels.com/photos/8930336/pexels-photo-8930336.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260", alt="img", class='h-screen')
            div(class='py-8')
                h1(class='py-5 text-lg') Hola mundo
                    div(class='flex flex-col ')
                        form(action="", method='post')
                        div(class='flex flex-col gap-2')
                            p Nombre
                            input(type="text", name="name" class='rounded focus:outline-none') 
                            p contraseña
                            input(type="password", name="password" class='rounded focus:outline-none') 
                            button(type="submit") Submit

                        if error
                            p(class='bg-red-200 text-red-600 p-3 w-max') #{error}